.cont{
  margin-top: 70px;
}
.marg{
  margin-top: 30px;
}
a{
  text-decoration: none;
}
.summary-box{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px 4px;
  text-align: center;
}
.summary-box-header{
  font-size: 30px;
  font-weight: 700;
  color: tomato;
}
.suggested-course{
  padding: 10px;
  border-radius: 4px 4px;
  text-align: center;
  background-color: tomato;
  color: #fff
}
.suggested-course:hover{
  cursor: pointer;
  opacity: 0.8;
}
.top-course{
  padding: 10px;
  border-radius: 4px 4px;
  text-align: center;
  background-color: rgba(102,204,204,1);
  color: tomato;
}
.top-course:hover{
  cursor: pointer;
  opacity: 0.8;
}
.see-course{
  padding: 10px;
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
  border-radius: 50%;
  padding-bottom: 50px;
}
.see-course:hover{
  border-bottom: 1px solid #333;
  cursor: pointer;
  opacity: 0.8;
}
.see-more-course{
  margin-top: 20px;
  background: tomato;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
.see-more-parent{
  margin:0px auto;
}
.see-more-course .light-blue{
  border: 0px;
}
.course-profile-cont{
  padding: 20px;
  text-align: justify;
}
.light-blue{
  background: rgba(102,204,204,1);
}