<div class="col-md-4" ng-controller="newController">
  <h3>Post new class</h3>
  <input type="text" placeholder="Class Name" class="form-control" ng-model="newClassForm.name"><br>
  <input type="text" placeholder="Class Type" class="form-control" ng-model="newClassForm.type"><br>
  <input type="text" placeholder="Day" class="form-control" ng-model="newClassForm.day"><Br>
  <input type="text" placeholder="Time" class="form-control" ng-model="newClassForm.time"><br>
  <input type="text" placeholder="Location" class="form-control" ng-model="newClassForm.location"><br>
  <button class="btn btn-primary btn-block" ng-click="newClassFormSubmit()">New Class</button>
</div>